# Unity generated
Library/
Temp/
Obj/
Build/
Builds/
Logs/
UserSettings/

# Visual Studio / Rider
.vs/
.vscode/
.idea/
*.csproj
*.sln
*.user
*.userprefs

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Builds
*.apk
*.aab
*.exe
*.x86
*.x86_64
*.app
*.unitypackage
